{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h2 class="mt-3">Bienvenido al sistema de gestión de plazas y mercados</h2>
<p>Este sistema de gestión de plazas y mercados te permite administrar y controlar de manera eficiente la información
  relacionada con las diferentes plazas y mercados. Podrás gestionar datos, realizar seguimientos y optimizar la
  organización de estos espacios para mejorar su funcionamiento.</p>
<p>Selecciona una opción del menú lateral para comenzar.</p>
{% endblock %}